@import "../../theme/variables.scss";

.home {
  dd {
    margin-bottom: 15px;
  }
}
.masthead {
  background-size:cover;
  background: #2d2d2d url('./bg.jpeg') no-repeat fixed;
  padding: 40px 20px;
  color: white;
  text-align: center;
  .info{
    background-color: rgba(35,35,35,0.7);
    border-radius:5px;
  }
  .logo {
    $size: 200px;
    margin: 10px auto auto;
    height: $size;
    width: $size;
    border-radius: $size / 2;
    border: 4px solid white;
    vertical-align: middle;
    p {
      line-height: $size;
      margin: 0px;
    }
    img {
      width: 75%;
      margin: auto;
    }
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    color: #ddd;
    font-size: 2em;
    margin: 20px;
  }
  a {
    color: #ddd;
  }
  p {
    margin: 10px;
  }
  .humility {
    color: $humility;
    a {
      color: $humility;
    }
  }
}

.syll {
  margin-top: 200px;
  width: 100%;
  color: white;
  background: #2d2d2d url('./3d_edited.jpg') no-repeat fixed;
  //background-color: rgb(33,33,33);
}

.counterContainer {
  text-align: center;
  margin: 20px;
}
